* {
  box-sizing: border-box;
}

.page {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 120%;
  color: $c-gray-m;
  scroll-behavior: smooth;

  &__prime-section {
    height: calc(100vh - 124px);

    margin-bottom: 70px;
  }

  &__header {
    position: sticky;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__products {
    margin-bottom: 30px;
  }
}

.container {
  padding: 0 165px;
}
