@mixin d-flex-colum {
  display: flex;
  flex-direction: column;
}

@mixin d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

@mixin link-animation {
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: $c-crimson-m;
    width: 0;
    transition: $anim-time;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
