$c-crimson-m: #db1e46;
$c-crimson-s: #dd2343;
$c-green-m: #70af00;
$c-green-s: #7bb000;
$c-gray-m: #363636;
$c-gray-s: #363636;
$c-white: #ffffff;
$c-taupe: #7c5a5b;

$anim-time: 0.5s;
$cubic-bezier: cubic-bezier(0, 1.14, 0.56, 0.98);
